apiVersion: apps/v1
kind:  Deployment
metadata:
   name:  orders
   namespace:  archref
spec:
   replicas:  2
    selector:
       matchLabels:
          app:  orders
   template:
       metadata:
           labels:
              app:  orders
       spec:
           containers:
              -  name: orders
                  image:  <ACR_NAME>.azurecr.io/orders:1.0.0
                  ports:
                     -  containerPort:  8080
                  env:
                     -  name:  SQL_SERVER
                         valueFrom:
                            secretKeyRef:
                                name:  sql-conn
                                key:  server
                      - name:  SQL_PASSWORD
                         valueFrom:
                             secretKeyRef:
                                name:  sql-conn
                                key:  password
                  readinessProbe:
                     httpGet:
                         path:  /healthz
                         port:  8080
                     initialDelaySeconds:  5
                     periodSeconds:  10
---
apiVersion: v1
kind:  Service
metadata:
   name:  orders
   namespace:  archref
spec:
   selector:
       app:  orders
    ports:
       - port:  8080
           targetPort:  8080
